.sconsign.dblite
config.log
.sconf_temp
*.o
*.os
*.so
*.cfgc
*.pyc
*_wrap.cc
*Lib.py
doc/html
doc/*.tag
doc/*.inc
doc/doxygen.conf
tests/.tests
version.py
.eggs
.pytest_cache
*.egg-info
bin/
.scons*
.coverage
DATA/butler.yaml
DATA/gen3.sqlite3
DATA/LATISS
DATA/calib/
DATA/ci_*
DATA/report
python/*.dist-info/
